<?xml version="1.0"?>
<config>
    <modules>
        <Fballiano_CategorySortDirection>
            <version>0.1.0</version>
        </Fballiano_CategorySortDirection>
    </modules>
    <global>
        <helpers>
            <categorysortdirection>
                <class>Fballiano_CategorySortDirection_Helper</class>
            </categorysortdirection>
        </helpers>
        <models>
            <categorysortdirection>
                <class>Fballiano_CategorySortDirection_Model</class>
            </categorysortdirection>
        </models>
        <blocks>
            <categorysortdirection>
                <class>Fballiano_CategorySortDirection_Block</class>
            </categorysortdirection>
            <catalog>
                <rewrite>
                    <product_list>Fballiano_CategorySortDirection_Block_Product_List</product_list>
                </rewrite>
            </catalog>
        </blocks>
        <!--
        <events>
            <catalog_product_collection_load_before>
                <observers>
                    <categorysortdirection>
                        <type>model</type>
                        <class>categorysortdirection/observer</class>
                        <method>catalogProductCollectionLoadBefore</method>
                    </categorysortdirection>
                </observers>
            </catalog_product_collection_load_before>
        </events>
        -->
        <resources>
            <categorysortdirection_setup>
                <setup>
                    <module>Fballiano_CategorySortDirection</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </categorysortdirection_setup>
        </resources>
    </global>
</config> 